<!DOCTYPE html>
<html>

    <head>
        <title>Create User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
  <body>

    <h2>Create User</h2>
    <form action="/create" method="post">

      <div>

        <label for="username"><strong>Username</strong></label>
        <input type="text" placeholder="Enter Username" name="username" required> <br />

        <label for="email"><strong>E-Mail</strong></label>
        <input type="email" placeholder="Enter email" name="email" required> <br />

        <label for="password"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="password" required> <br />
          
        <button type="submit">Create</button> <br />

      </div>
      
    </form>

  </body>

</html>